div#chat {
	height: 1080px;
	width: 350px;
	overflow-y: auto;
	display: flex;
	flex-direction: column-reverse;
	background-color: #111416;
}

div#chat::-webkit-scrollbar {
	display: none;
}

div#chat li {
	background-color: #00FF00;
	box-sizing: border-box;
	margin: 0.5em;
}

div#chat ul {
	list-style-type: none;
	list-style-position: outside;
	padding: 0;
	padding-top: 10px;
}

div.user {
	background-color: #0000FF;
    background-image: url(messageUserBox.png);
    color: #E6EBE6;
    height: 21px;
    padding: 9px 0 0 9px;
    margin: 0;
}

div.message {
	background-color: #888888;
    background-image: url(messageContentBox.png);
    color: #e6ebe6;
    min-height: 30px;
    padding: 9px 12px 0 12px;
    margin: 0;
}

div.bottomborder {
	background-image: url(messageBottomBorder.png);
	min-height: 8px;
}